.item__detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    width: fit-content;
    padding: 1rem;
    margin: 1rem auto;
}

.itemDetail__imagen {
    width: 20rem;
    height: 20rem;
}

.itemDetail__imagenContainer {
    width: 20rem;
    height: 20rem;
}
.itemDetail__imagenPrecioStockCountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.itemDetail__nombre {
    font-weight: bold;
}

.itemDetail__precio {
    font-weight: bold;
}

.itemDetail__info {
    font-weight: bold;
}

.itemDetail__stock {
    font-weight: bold;
}

.itemsDetail__noStock {
    font-weight: bold;
}

.boton__finalizarCompraItemDetail {
    font-size: large;
    padding: 0.5rem 1.5rem;
    margin: 2px 0;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    background-color: green;
    color: white;
}


