.h1__saludo {
    text-align: center;
    color: aqua;
}
.container__itemList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}