
.container__contador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2.5px;
    margin: 2.5px;
    background-color: white;
}
.boton__contador {
    font-size: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0px solid white;
    background-color: white;
}
.numero__contador {
    margin: 0;
    font-weight: bold;
}
.boton__agregarAlCarrito {
    font-size: large;
    padding: 0.5rem 1.5rem;
    margin: 2px 0;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(61, 88, 206);
    color: white;
}